<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daun.word.domain.assignment.domain.repository.AssignmentRepository">

    <resultMap id="assignmentMap" type="Assignment">
        <constructor>
            <idArg column="id" name="id" />
            <arg column="study_id" name="study" javaType="Study"
                 select="com.daun.word.domain.study.domain.repository.StudyRepository.findById"/>
            <arg column="recommend_id" name="recommend" javaType="Recommend"
                 select="com.daun.word.domain.recommend.domain.repository.RecommendRepository.findById"/>
            <arg column="assign_to" name="assignTo" javaType="Member"
                 select="com.daun.word.domain.member.domain.repository.MemberRepository.findByEmail"/>
            <arg column="start_date_time" name="startDateTime" javaType="LocalDateTime"/>
            <arg column="end_date_time" name="endDateTime" javaType="LocalDateTime"/>
            <arg column="complete_yn" name="completeYn" javaType="YesNo" typeHandler="YesNoTypeHandler"/>
            <arg column="complete_date_time" name="completeDateTime" javaType="LocalDateTime"/>
            <arg column="created_at" name="createdAt" javaType="LocalDateTime"/>
            <arg column="updated_at" name="updatedAt" javaType="LocalDateTime"/>
        </constructor>
    </resultMap>

    <select id="findById" resultMap="assignmentMap">
        select a.globalId,
               a.study_id,
               a.recommend_id,
               a.assign_to,
               a.start_date_time,
               a.end_date_time,
               a.complete_yn,
               a.complete_date_time,
               a.created_at,
               a.updated_at
        from assignment as a
        where a.globalId = #{globalId.value};
    </select>

    <insert id="save" parameterType="Assignment" useGeneratedKeys="true"
            keyColumn="globalId" keyProperty="assignment.globalId">
        INSERT INTO assignment
        (
        <if test="assignment.globalId != null">
            globalId,
        </if>
        study_id,
        recommend_id,
        assign_to,
        start_date_time,
        end_date_time
        )
        VALUES (
        <if test="assignment.globalId != null">
            #{assignment.globalId},
        </if>
        #{assignment.study.globalId},
        #{assignment.recommend.globalId},
        #{assignment.assignTo},
        #{assignment.startDateTime},
        #{assignment.endDateTime}
        )
        ON DUPLICATE KEY
        UPDATE
        study_id = #{assignment.study.globalId},
        recommend_id = #{assignment.recommend.globalId},
        assign_to = #{assignment.assignTo},
        start_date_time = #{assignment.startDateTime},
        end_date_time = #{assignment.endDateTime},
        complete_yn = #{assignment.completeYn},
        complete_date_time = #{assignment.completeDateTime},
        updated_at = sysdate()
        <selectKey keyColumn="globalId,created_at,updated_at"
                   keyProperty="assignment.globalId,assignment.createdAt,assignment.updatedAt"
                   resultType="java.util.HashMap" order="AFTER">
            SELECT a.globalId,
            a.created_at,
            a.updated_at
            FROM assignment as a
            WHERE a.globalId =
            <if test="assignment.globalId != null">
                #{assignment.globalId}
            </if>
            <if test="assignment.globalId == null">
                LAST_INSERT_ID()
            </if>
        </selectKey>
    </insert>
</mapper>
