<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daun.word.domain.chapter.domain.repository.ChapterRepository">

    <insert id="save" parameterType="com.daun.word.domain.chapter.domain.Chapter" useGeneratedKeys="true" keyColumn="id"
            keyProperty="id">
        INSERT INTO chapter
        (
        title,
        workbook_id
        )
        VALUES
        (
        #{title.value},
        #{workBookId}
        )
        <selectKey keyColumn="id,created_at,updated_at" keyProperty="id,createdAt,updatedAt"
                   resultType="java.util.HashMap" order="AFTER">
            SELECT chapter.id,
            chapter.created_at,
            chapter.updated_at
            FROM chapter
            WHERE chapter.id = LAST_INSERT_ID();
        </selectKey>
    </insert>

    <insert id="saveChapterWordMapping" parameterType="com.daun.word.domain.chapter.domain.vo.ChapterWordMapping"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO chapter_word_mapping
        (
        chapter_id,
        word_id
        )
        VALUES
        (
        #{chapter.id},
        #{word.id}
        )
        <selectKey keyColumn="id,created_at,updated_at" keyProperty="id,createdAt,updatedAt"
                   resultType="java.util.HashMap" order="AFTER">
            SELECT chapter_word_mapping.id,
            chapter_word_mapping.created_at,
            chapter_word_mapping.updated_at
            FROM chapter_word_mapping
            WHERE chapter_word_mapping.id = LAST_INSERT_ID();
        </selectKey>
    </insert>

</mapper>
