<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daun.word.domain.problem.domain.repository.ProblemRepository">

    <resultMap id="problemMap" type="com.daun.word.domain.problem.domain.Problem">
        <constructor>
            <idArg column="id" name="id"/>
            <arg column="title" name="title" javaType="com.daun.word.global.vo.Title"
                 typeHandler="com.daun.word.global.vo.TitleTypeHandler"/>
            <arg column="url" name="url" javaType="com.daun.word.global.vo.URL"
                 typeHandler="com.daun.word.global.vo.URLTypeHandler"/>
            <arg column="tier" name="tier" javaType="com.daun.word.global.vo.Tier"
                 typeHandler="com.daun.word.global.vo.TierTypeHandler"/>
            <arg column="accepted_user_count" name="acceptedUserCount" javaType="int"/>
            <arg column="id" name="tags" javaType="java.util.List" select="findTags"/>
            <arg column="created_at" name="createdAt" javaType="java.time.LocalDateTime"/>
            <arg column="updated_at" name="updatedAt" javaType="java.time.LocalDateTime"/>
        </constructor>
    </resultMap>

    <resultMap id="tagMap" type="com.daun.word.domain.problem.domain.vo.Tag">
        <constructor>
            <idArg column="id" name="id"/>
            <arg column="tag_key" name="key" javaType="String"/>
            <arg column="title" name="title" javaType="com.daun.word.global.vo.Title"
                 typeHandler="com.daun.word.global.vo.TitleTypeHandler"/>
            <arg column="created_at" name="createdAt" javaType="java.time.LocalDateTime"/>
            <arg column="updated_at" name="updatedAt" javaType="java.time.LocalDateTime"/>
        </constructor>
    </resultMap>

    <select id="findById" resultMap="problemMap">
        SELECT p.id,
               p.title,
               p.url,
               p.tier,
               p.accepted_user_count,
               p.created_at,
               p.updated_at
        FROM problem p
        where p.id = ${problemId.value}
    </select>

    <select id="findByTierBetweenOrderBySolvedCountDesc" resultMap="problemMap">
        SELECT p.id,
               p.title,
               p.url,
               p.tier,
               p.accepted_user_count,
               p.created_at,
               p.updated_at
        FROM problem p
        <![CDATA[
        where p.tier >= ${goe.level}
          and ${loe.level} >= p.tier
        ]]>
          order by p.accepted_user_count desc
        limit #{size} offset #{start}
    </select>

    <select id="findTags" resultMap="tagMap">
        SELECT t.id,
               t.tag_key,
               t.title,
               t.created_at,
               t.updated_at
        FROM problem_tag pt
                 left join problem p on pt.problem_id = p.id
                 left join tag t on pt.tag_id = t.id
        where p.id = ${id}
    </select>

    <insert id="save" parameterType="com.daun.word.domain.problem.domain.Problem" useGeneratedKeys="true" keyColumn="id"
            keyProperty="problem.id">
        INSERT INTO problem
        (
        id,
        title,
        url,
        tier,
        accepted_user_count
        )
        VALUES
        (
        #{problem.id},
        #{problem.title.value},
        #{problem.url.value},
        #{problem.tier.value},
        #{problem.acceptedUserCount}
        )
        ON DUPLICATE KEY UPDATE
        title = #{problem.title.value},
        url = #{problem.url.value},
        tier = #{problem.tier.value},
        accepted_user_count = #{problem.acceptedUserCount}
        <selectKey keyColumn="created_at,updated_at"
                   keyProperty="problem.createdAt,problem.updatedAt"
                   resultType="java.util.HashMap" order="AFTER">
            SELECT
            p.created_at,
            p.updated_at
            FROM problem p
            where p.id = #{problem.id};
        </selectKey>
    </insert>

    <insert id="saveTag" parameterType="com.daun.word.domain.problem.domain.vo.Tag" useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="tag.id">
        INSERT INTO tag
        (
        id,
        tag_key,
        title
        )
        VALUES
        (
        #{tag.id},
        #{tag.key},
        #{tag.title.value}
        )
        ON DUPLICATE KEY UPDATE
        tag_key = #{tag.key},
        title = #{tag.title.value}
        <selectKey keyColumn="created_at,updated_at"
                   keyProperty="tag.createdAt,tag.updatedAt"
                   resultType="java.util.HashMap" order="AFTER">
            SELECT
            t.created_at,
            t.updated_at
            FROM tag t
            where t.id = #{tag.id};
        </selectKey>

    </insert>

    <insert id="saveProblemTag">
        INSERT INTO problem_tag
        (problem_id,
         tag_id)
        VALUES (#{problemId.value},
                #{tagId.value})
    </insert>
</mapper>
