<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daun.word.domain.word.domain.repository.WordRepository">

    <insert id="save" parameterType="com.daun.word.domain.word.domain.Word" useGeneratedKeys="true" keyColumn="id"
            keyProperty="id">
        INSERT INTO word
        (
        english,
        korean,
        created_by
        )
        VALUES
        (
        #{english.value},
        #{korean.value},
        #{createdBy.value}
        )
        <selectKey keyColumn="id,created_at,updated_at" keyProperty="id,createdAt,updatedAt"
                   resultType="java.util.HashMap" order="AFTER">
            SELECT word.id,
            word.created_at,
            word.updated_at
            FROM word
            where word.id = LAST_INSERT_ID();
        </selectKey>
    </insert>

    <select id="findByEnglish" resultType="com.daun.word.domain.word.domain.Word">
        SELECT word.id,
               word.english,
               word.korean,
               word.created_by,
               word.created_at,
               word.updated_at
        FROM word
        WHERE word.english = #{english.value};
    </select>

    <select id="findByEnglishIn" resultType="com.daun.word.domain.word.domain.Word">
        SELECT word.id,
        word.english,
        word.korean,
        word.created_by,
        word.created_at,
        word.updated_at
        FROM word
        WHERE word.english IN
        <foreach collection="englishes" item="english" separator="," open="(" close=")">
            #{english.value}
        </foreach>
    </select>

    <select id="findByIdIn" resultType="com.daun.word.domain.word.domain.Word">
        SELECT word.id,
        word.english,
        word.korean,
        word.created_by,
        word.created_at,
        word.updated_at
        FROM word
        WHERE word.id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id.value}
        </foreach>
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT count(*)
        FROM word
    </select>
</mapper>
