<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daun.word.workbook.domain.repository.WorkBookRepository">

    <insert id="save" parameterType="com.daun.word.workbook.domain.WorkBook" useGeneratedKeys="true" keyColumn="id"
            keyProperty="id">
        INSERT INTO workbook
        (
        title,
        author,
        description,
        cover_image_url
        )
        VALUES
        (
        #{title.value},
        #{author.value},
        #{description.value},
        #{coverImageUrl}
        )
        <selectKey keyColumn="id,created_at,updated_at" keyProperty="id,createdAt,updatedAt"
                   resultType="java.util.HashMap" order="AFTER">
            SELECT workbook.id,
            workbook.created_at,
            workbook.updated_at
            FROM workbook
            WHERE workbook.id = LAST_INSERT_ID();
        </selectKey>
    </insert>

</mapper>
