<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="java.time.LocalDateTime" alias="LocalDateTime"/>
        <typeAlias type="java.util.List" alias="List"/>
        <package name="com.daun.word"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="com.daun.word.domain.member.domain.vo.EmailTypeHandler"
                     javaType="com.daun.word.domain.member.domain.vo.Email"/>
        <typeHandler handler="com.daun.word.domain.member.domain.vo.SocialTypeHandler"
                     javaType="com.daun.word.domain.member.domain.vo.SocialType"/>
        <typeHandler handler="com.daun.word.global.vo.NameTypeHandler"
                     javaType="com.daun.word.global.vo.Name"/>
        <typeHandler handler="com.daun.word.global.vo.TierTypeHandler"
                     javaType="com.daun.word.global.vo.Tier"/>
        <typeHandler handler="com.daun.word.global.vo.TitleTypeHandler"
                     javaType="com.daun.word.global.vo.Title"/>
        <typeHandler handler="com.daun.word.global.vo.URLTypeHandler"
                     javaType="com.daun.word.global.vo.URL"/>
        <typeHandler handler="com.daun.word.global.vo.YesNoTypeHandler"
                     javaType="com.daun.word.global.vo.YesNo"/>
        <package name="com.daun.word"/>
    </typeHandlers>
</configuration>
